

html{
    background-color: black;
}

h1{
    
    font-size: 3rem;
}
.meme{
    background-color: black;
    color: white; 
   width: 50%; 
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}

.meme-img{
    border: 5px solid white; 
    width: 100%; 
    
}

 


